@import url("/Homepage/index.css");

/* General content text */
.content p {
	margin: 0;
	line-height: 1.6;
	font-size: clamp(1rem, 1.6vw, 1.1rem);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main Title */
.title-responsive {
    display: inline-block;
    text-align: center;

    font-size: clamp(24px, 6vw, 45px);
    font-weight: 800;
    padding: 0.8rem 1.5rem;
    border-radius: 12px;

    font-family: 'Montserrat', serif;
    color: #550000;
    text-shadow: 2px 2px 0px rgba(212, 180, 131, 0.6);
    margin: 1.5rem auto;
    max-width: 90%;
    width: fit-content;
    box-sizing: border-box;
}

.slideshow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Centering containers */
.timeline-container {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  width: 80%;
}

/* Image */
#timeline-img{
  width: 480px;
  height: auto;
  border-radius: 18px;
  transition: opacity .6s ease, transform .6s ease;
}

.container {
 gap: 1rem;
}

.container-text h1{
  width: 100%;
}

.container-text{
  padding: 1.5rem;
  color: #550000;
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
}

#timeline-detail{
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.381);
}

/* Subheading */
#timeline-detail h3 {
  color: #550000;
  margin-bottom: 8px;
  font-size: 18px;
}

/* Heading (highlighted) */
#timeline-detail h2 {
  font-size: 40px;
  margin: 5px 0;
  margin-bottom: 20px;

  display: inline-block;
  background: #55000062;
  padding: 0.25rem 0.6rem;
  border-radius: 8px;

  color: #550000;
  text-shadow: 2px 2px 0px rgba(212, 180, 131, 0.4);
}

/* Paragraph under heading */
#timeline-desc {
  color: #550000;
}

.btns{
  gap: 0.5rem;
}
.btns a{
  text-align: center;
  font-size: 0.8rem;
  padding: 7px 14px;
}

/* Responsive adjustments */
@media (max-width: 1050px) {
  .container-text{
    padding: 1rem;
  }
  .timeline-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 95%;
  }
}
@media (max-width: 900px) {

  .timeline-section {
    padding: 20px;
  }

    .container-text{
    padding: 0.5rem;
  }

  #timeline-img {
    width: 100%;
    max-width: 360px;
  }

  .timeline-content p,
  #timeline-detail p {
    font-size: 14px;
  }

  #timeline-detail{
    align-items: center;
  }
  #timeline-detail h2 {
    font-size: 32px;
    padding: 0.2rem 0.5rem;
  }

  #timeline-detail h3 {
    font-size: 16px;
  }

  .text-bg {
    padding: 12px 16px;
  }
}
