@import url('/Homepage/index.css');
@font-face {
    font-family: "Montserrat";
    src: url(/Resource/Fonts/Montserrat.ttf);
}
@font-face {
    font-family: "Oswald";
    src: url(/Resource/Fonts/Oswald.ttf);
}
@font-face {
    font-family: "Merriweather";
    src: url(/Resource/Fonts/Merriweather.ttf);
}

.parallax{
    height: 100vh;
    width: 100vw;
    background-image: url(/Resource/SlideShow1/6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.parallax h1{
    font-size: 40px;
    padding-bottom: 3rem;
}

body{
    background-image: url('/Resource/Others/background-yellowish.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main{
    width: 80%;
    margin: auto;
    font-weight: 500;
}

.container{
    width: 80%;
    margin: 3rem auto;
    color: var(--maroon);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.381);
}

.left-align{
    border-radius:  10px 0px 0px 10px;
}
.right-align{
    border-radius:  0px 10px 10px 0px;
}
.center-align{
    text-align: center;   
}

.container-text{
    align-self: start;
}

.container-title{
    margin-bottom: 1rem;
    padding: 5px 0px 5px 1rem;
    box-shadow: -5px 0px 0px 0px black;
    background-color: rgba(0, 128, 0, 0.216);
    border-radius: 0px 5px 5px 0px;
}
.container-desc{
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: justify;
}

.container-img{
    height: 100%;
    width: 40%;
}

@media (max-width: 1000px) {
    .container-title{
        font-size: 1.3rem;
    }
    .container-desc{
        font-size: 1rem;
        line-height: 1.3rem;
        text-align: left;
    }
    .container{
        gap: 1rem;
    }
}
@media (max-width: 800px) {
    .parallax h1{
        font-size: 30px;
    }
    .container-title{
        font-size: 1.3rem;
    }
    .container-desc{
        font-size: 0.8rem;
        line-height: 1rem;
    }
}
@media (max-width: 600px) {
    .parallax h1{
        font-size: 5vw;
    }
    .container{
        flex-direction: column;
        padding: 1.3rem;
    }
    div:has(.left-align){
        flex-direction: column-reverse;
    }
    .container-title{
        font-size: 1rem;
        text-align: center;
    }
    .container-desc{
        text-align: center;
    }
    .container-img{
        height: 100%;
        width: 100%;
        border-radius:  10px 10px 10px 10px;
    }
}