*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.2s ease-out;
}
:root {
    --maroon: #550000;
    --text: #ffffff;
    --bg: #F8F4EC;
    --yellow: #FFD700;
    --dull: #f4f4f4;
    --btn_click: #d0b104;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--text);
    background-color: var(--bg);
}
a{
    color: var(--text);
    text-decoration: none;
    transition: all 0.2s ease-out;
}
a:hover{
    color: var(--text);
}


/* Footer */
.footer-sm-adjust{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-sm-adjust a{
    display: inline-block;
}
.footer-visitus p, .footer-timings p{
    line-height: 8px;
}
