@import url('/Homepage/index.css');
@font-face {
    font-family: "Montserrat";
    src: url(/Resource/Fonts/Montserrat.ttf);
}
@font-face {
    font-family: "Oswald";
    src: url(/Resource/Fonts/Oswald.ttf);
}
@font-face {
    font-family: "Merriweather";
    src: url(/Resource/Fonts/Merriweather.ttf);
}

:root{
    --primary: #82c14E;
    --background: rgba(0, 0, 0, 0.641);
}

body{
    background-image: url('/Resource/Others/background-yellowish.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}

.message-full, .show-less-btn{
    display: none;
}

.ministers-messages-container{
    padding-top: 35vh;
    width: 70vw;
    height: auto;
    margin: auto;
    gap: 2rem;

    @media (max-width: 1200px) {
        width: 80vw;
        padding-top: 30vh;
    }
    @media (max-width: 1000px) {
        width: 90vw;
        padding-top: 30vh;
    }
}

.ministers-messages-container h1{
    font-weight: 700;
    color: var(--maroon);
    text-align: center;
    margin-bottom: 2rem;
    @media (max-width: 1000px) {
        font-size: 1.5rem;
    }
    @media (max-width: 500px) {
        font-size: 1.1rem;
    }
}

.message-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.message-card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: var(--primary);
    background-color: var(--background);
    border-radius: 20px;
}
.message-card h2{
    background-color: rgba(174, 255, 0, 0.088);
    border-radius: 0px 10px 10px 0px;
    box-shadow: var(--primary) -6px 0px 0px 0px;
    padding: 10px;
    @media (max-width: 1000px) {
        font-size: 1.2rem;
    }
    @media (max-width: 400px) {
        font-size: 0.8rem;
    }
}
.message-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    gap: 2rem;
    margin: 2rem;
    @media (max-width: 600px) {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    @media (max-width: 600px) {
        margin: 1rem;
    }
    @media (max-width: 400px) {
        margin: 0.6rem;
    }
}
.minister-image{
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    @media (max-width: 700px) {
        height: 120px;
    }
}
.minister-name{
    font-weight: 700;
    margin-top: 1rem;
    font-style: italic;
    margin: 20px;
    text-align: right;
    @media (max-width: 400px) {
        font-size: 0.6rem;
    }
}
.message-preview, .message-full{
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    @media (max-width: 700px) {
        text-align: left;
        font-size: 0.85rem;
    }
}
.message-footer button{
    background-color: var(--maroon);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

footer{
    margin-top: 3rem;
}